body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  border-radius: 0.1em;
  font-family: "Montserrat", sans-serif;

  &:hover {
    border: 1px solid $white;
  }
}
.btn-primary {
  color: $white;
  border-color: $primary;

  &:hover {
    background-color: transparentize($primary, 0.2);
    border-color: transparentize($primary, 0.2);
  }
}
.btn--small {
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.btn--large {
  padding: 1rem 2.8rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 1.2px;
}

section {
  &:not(:nth-of-type(3)) {
    margin: 100px 0;
  }

  @include media-breakpoint-down(lg) {
    margin: 70px 0;
  }

  h6 {
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 15px;
    font-size: 0.9rem;
    @include media-breakpoint-down(lg) {
      margin-top: 25px;
      font-size: 0.7rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 0.6rem;
    }
  }

  .line {
    width: 50px;
    height: 3px;
    background-color: $primary;
    @include media-breakpoint-down(lg) {
      margin-left: -25px;
    }
  }
}
