//$text-color-gray: darkgray;
$subheader-color: #7e818a;
$header-text-color: #fefffd;
$navbar-color: #f5fafd;

//$primary: #ff6a49;
//$secondary: #777988;
$blue: #63718c;
$white: #fff;
$darkgrey: darkgrey;
$lightgray: lightgray;
$black: #000;


